@import "../../common/variable";
.user-info-item {
  padding: 20rpx 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  image {
    width: 100rpx;
    height: 100rpx;
  }
}
.arrow {
  padding-right: 20rpx;
  .c999 {
    flex: 1;
    margin-left: 20rpx;
    text-align: right;
  }
  &:after {
    width: 10rpx;
    height: 10rpx;
    right: 0;
  }
}

.mask {
  .mask-in {
    top: 40%;
  }
  input {
    height: 80rpx;
    line-height: 80rpx;
    padding: 10rpx;
  }
  .mask-btn {
    button {
      height: 80rpx;
      line-height: 80rpx;
      width: 50%;
    }
  }
}

.fabu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f4efde;
}