@import "../../common/variable";
page {
  padding: 30rpx;
  box-sizing: border-box;
}

.user-info {
  margin-top: 20rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .user-info-s {
    display: flex;
    align-items: center;
  }
  image {
    width: 70rpx;
    height: 70rpx;
    margin-right: 20rpx;
  }
}
.operation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
.h-a-operation {
  display: flex;
  align-items: center;
  //justify-content: flex-end;
  vertical-align: middle;
  .jwq {
    flex: 1;
    //margin-left: 40rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      font-size: 34rpx;
      margin-right: 10rpx;
    }
  }
}